/*******************************************************************************
Media Queries
*******************************************************************************/

@media only screen and (max-width: 1450px) {
    .sticky {
        display: none;
    }
}

@media only screen and (max-width: 1024px) {
    /* Navigation */
    .site-navigation {
        display: flex;
        flex-direction: column;
    }
    .site-navigation ul {
        padding-left: 0;
        text-align: center;
        display: none;
    }
    .site-navigation .open {
        display: block;
    }
    .site-navigation ul li {
        width: 100%;
        /* border-bottom: 1px solid white; */
    }
    .site-navigation ul li:first-of-type {
        border-top: 1px solid #FFFFFF;
    }
    .site-navigation a {
        padding: 10px;
    }
    a.active,
    a.active:after {
        border: 0;
    }
    .burger-nav {
        display: block;
        height: 50px;
        padding: 10px;
        width: 100%;
        cursor: pointer;
        text-align: right;
    }
    .dropdown-content {
        position: relative;
        z-index: 99;
    }
    .open {
        visibility: visible;
        opacity: 1;
    }
    /* containers */
    .body-container {
        display: flex;
        flex-direction: column;
    }
    .container-default,
    .container-half,
    .container-full {
        width: 95%;
        margin: 0 auto;
    }
    /* Accordion */
    .panel li {
        width: 50%;
        padding: 10px;
        font-weight: 300;
    }
    /* Forms */
    form.form {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    form .field-group {
        display: flex;
        width: 100%;
        flex-direction: column;
        margin: 0 0 6px 0;
    }
    form.form .field-group .field {
        width: 100%;
    }
    form.form .field-group .label {
        width: 100%;
        text-align: left;
        padding: 5px 0 10px 10px;
    }
    input[type=submit] {
        margin: 10px auto;
    }
    fieldset {
        display: flex;
        flex-direction: column;
        width: 50%;
        margin: 0 auto;
        transition: width 1s;
    }
    legend {
        text-align: center;
    }
    .field-group:last-child .field:last-child {
        margin: 0 auto;
    }
    .field input:last-of-type {
        width: 100%;
    }
    fieldset label {
        text-align: center;
    }
    .inset {
        margin: 5px
    }
}


@media only screen and (max-width: 786px) {
    
	.logo {
		    margin: 25px;
    width: 50%;
	}
	
}
@media only screen and (max-width: 560px) {
    
		.logo {
		    margin: 25px auto;
    width: 80%;
	}
	
	fieldset {
        width: 100%;
        transition: width 1s;
    }
    form.form {
        margin: 0 auto;
    }
    .container-default,
    .container-half,
    .container-full,
    .panel li {
        width: 100%;
    }
    #table {
        border: 0;
    }
    #table_filter {
        padding: 10px
    }
    .wrapper {
        display: flex;
        flex-direction: column;
    }
    .modular-box-text ul {
        /* Delete in Full */
        padding-left: 50px;
    }
}
